# Windows system files
desktop.ini
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.venv/
venv/
env/

# Data & Models (Tránh đẩy tệp dung lượng lớn lên GitHub)
# Bỏ qua toàn bộ nội dung trong các thư mục con của data nhưng giữ tệp .gitkeep
data/home-credit-default-risk/*
data/processed/*
data/raw/*
data/sample/*

# Bỏ qua toàn bộ nội dung trong các thư mục con của data nhưng giữ tệp .gitkeep
!data/sample/.gitkeep
!data/processed/.gitkeep
!data/raw/.gitkeep
!data/home-credit-default-risk/.gitkeep

# Bỏ qua toàn bộ nội dung trong models ngoại trừ tệp .gitkeep
models/*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*